*:focus {
  outline: none;
}

.card {
  width: 620px;
  height: 270px;
  display: grid;
  grid-template-columns: 330px auto;
  grid-template-rows: 25px auto;
  border: none; 
}


.card .stats {
  align-items: center;
  text-align: center;
  display: grid;
  grid-row: 2;
  font-size: 13px;
  }

.card .inventory {
  display: grid;
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 13px;
  }

.title {
  font-size: 18px;
  font-weight: bold;
  padding-left: 3px;
}

.attributes {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    gap: 3px;
    padding: 10px;
}

.skills {
  padding: 10px;
}

.comments {
  border: none;
  resize: none;
  text-align: center;
  height: 90px;
}

.health {
  display: grid;
  align-items: center;
  grid-template-columns: 85px 136px 80px;
  gap: 3px;
  padding: 10px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}


